@import "tailwindcss";

@keyframes warning-tape {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 200% 200%;
	}
}

.animate-warning-tape {
	background: repeating-linear-gradient(
		45deg,
		#ff4d4d,
		#ff4d4d 10px,
		#ffcc00 10px,
		#ffcc00 20px
	);
	background-size: 50px 50px;
	animation: warning-tape 2s linear infinite;
}
